<a style="cursor: pointer"
   class="list-group-item clearfix">
  <div class="pull-left">
    <p class="list-group-item-heading">Company name: {{ curCompanyName }} </p>
    <p class="list-group-item-heading">{{ employee.employeeId }}.  {{ employee.name }}  {{ employee.surname }} | Salary: {{ employee.salary | currency }}</p>
    <p class="list-group-item-heading">Address: {{ employee.address }} | Email: {{ employee.email }}</p>

    <dx-button class="button-primary"
               (click)="updateNewEmployee()"
               text="Update"
               style="margin: 4px">
    </dx-button>
    <button type=button class="btn btn-danger" (click)="deleteConfirmation(employee.name, employee.surname)">Delete me</button>
  </div>
</a>

<dx-popup [width]="800"
          [height]="500"
          [showTitle]="true"
          title="Add New Employee"
          [dragEnabled]="false"
          [closeOnOutsideClick]="true"
          [(visible)]="popupVisible">

  <form action="your-action" (submit)="onFormSubmit()">

    <div id="form">

      <dx-form id="updateEmployeeForm"
               [formData]="employee"
               [labelLocation]="labelLocation"
               [minColWidth]="minColWidth"
               [colCount]="colCount"
               [width]="width">

        <dxi-item dataField="companyId" editorType="dxSelectBox" [editorOptions]="{ items: companyNameList, searchEnabled: true, value: '' }">
          <dxi-validation-rule type="required" message="Position is required"></dxi-validation-rule>
          <dxo-label text="Company Name">
          </dxo-label>
        </dxi-item>

        <dxi-item dataField="employeeId" [editorOptions]="{ disabled: true }"></dxi-item>
        <dxi-item dataField="name" [editorOptions]="{ disabled: false }">
          <dxi-validation-rule type="required" message="Name is required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="surname" [editorOptions]="{ disabled: false }">
          <dxi-validation-rule type="required" message="Surname is required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="email" [editorOptions]="{ disabled: false }">
          <dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="address" [editorOptions]="{ disabled: false }">
          <dxi-validation-rule type="required" message="Address is required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="salary" [editorOptions]="{ disabled: false }">
          <dxi-validation-rule type="required" message="Salary is required"></dxi-validation-rule>
        </dxi-item>

        <dxi-item itemType="button"
                  horizontalAlignment="center"
                  [buttonOptions]="buttonOptions">
        </dxi-item>

      </dx-form>

    </div>

  </form>

</dx-popup>
