<div class="row pull-right">
  <div class="col-xs-15">
    <hr />
    <dx-button class="button-info"
               (click)="addNewEmployee()"
               text="Add New Employee">
    </dx-button>
    <br />
    <br />
      <app-employee style="float: left"
         id="employComp"
         *ngFor="let emp of employeeList" [employee]="emp">
      </app-employee>
  </div>
</div>

<dx-popup [width]="800"
          [height]="350"
          [showTitle]="true"
          title="Add New Employee"
          [dragEnabled]="false"
          [closeOnOutsideClick]="true"
          [(visible)]="popupVisible">

  <form action="your-action" (submit)="submitEmployee()">

    <div id="form">

      <dx-form id="addEmployeeForm"
               [formData]="employee"
               [labelLocation]="labelLocation"
               [minColWidth]="minColWidth"
               [colCount]="colCount"
               [width]="width">

        <dxi-item dataField="companyId" editorType="dxSelectBox" [editorOptions]="{ items: companyNameList, searchEnabled: true, value: '' }">
          <dxi-validation-rule type="required"
                               message="Company is required">
          </dxi-validation-rule>
          <dxi-validation-rule type="stringLength"
                               [min]="2"
                               message="Select a company">
          </dxi-validation-rule>
          <dxo-label text="Company Name">
          </dxo-label>
        </dxi-item>

        <dxi-item dataField="name" [editorOptions]="{ disabled: false, value: '' }">
          <dxi-validation-rule type="required"
                               message="Name is required">
          </dxi-validation-rule>
        </dxi-item>

        <dxi-item dataField="surname" [editorOptions]="{ disabled: false, value: '' }">
          <dxi-validation-rule type="required"
                               message="Surname is required">
          </dxi-validation-rule>
        </dxi-item>

        <dxi-item dataField="email" [editorOptions]="{ disabled: false, value: '' }">
          <dxi-validation-rule type="required"
                               message="Email is required">
          </dxi-validation-rule>
          <dxi-validation-rule type="email"
                               message="Email is invalid">
          </dxi-validation-rule>
        </dxi-item>

        <dxi-item dataField="address" [editorOptions]="{ disabled: false, value: '' }">
          <dxi-validation-rule type="required"
                               message="Address is required">
          </dxi-validation-rule>
        </dxi-item>

        <dxi-item dataField="salary" [editorOptions]="{ disabled: false, value: 0 }">
          <dxi-validation-rule type="required"
                               message="Salary is required">
          </dxi-validation-rule>
        </dxi-item>

        <dxi-item itemType="button"
                  horizontalAlignment="center"
                  [buttonOptions]="buttonOptions">
        </dxi-item>

      </dx-form>

    </div>

  </form>

</dx-popup>
